body {
      margin: 0;
      height: 100vh;
      background: linear-gradient(135deg, #000000, #2c2c2c);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Tajawal", sans-serif;
      gap: 1rem;
    }

button{
    height: 30px;
   background:linear-gradient(135deg, #807f7f, #2c2c2c);
    border: none;
      border-radius: 5px;
      padding: 0.8rem 1.8rem;
      font-size: 1.2rem;
      cursor: pointer;
      transition: all 0.3s ease;
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
    
}
